# Supabase Connection
# Puedes usar la URL completa:
DATABASE_URL=postgresql://postgres:[Laminadosbeka7.]@db.nylzwyznpwahbdwikxhs.supabase.co:5432/postgres

# O campos individuales:
host:
db.nylzwyznpwahbdwikxhs.supabase.co

port:
5432

database:
postgres

user:
postgres

